Flask==2.0.2
Flask-Cors==3.0.10
pandas==1.4.0
nltk==3.6.7
numpy==1.22.1
gensim==4.1.2
spacy==3.2.1
matplotlib==3.5.1
seaborn==0.11.2
sklearn==0.0
wordcloud==1.8.1
pyspellchecker==0.6.3
sentence-transformers==2.1.0
python-decouple==3.5
uWSGI==2.0.20
